@import url('reset.css');

body{
    background-color: #e1e1e1;
    font-family: Arial, Helvetica, sans-serif;
    text-height: 1.6;
}

.header{
    height: 100px;
    background-color:white;
}

.header img{

    width: 68px;
    margin-left: 25px;
    padding-top: 15px;
}

.header ul{

    /* border: 1px solid red; */
    float: right;
  

}

.header li{

    float: left;
    /* padding-right: 30px; */
}

.header li a{
    display: block;
    font-size: 24px;
    color: #4a4a4a;
   width: 150px;
    text-decoration: none;
    line-height: 4;
    text-align: center;
    /* border: 1px solid red; */
    
    
}

.header li a:hover{

border-bottom: 4px solid #8b8b8b;



}
/* --------------wrapper-------- */



.wrapper{

width: 1200px;
height: 680px;
background-color: #b1b1b1;
margin: 0 auto;

margin-top: 50px;
margin-bottom: 50px;

position: relative;

}


/* ------------main-------------------- */

.main{

    /* border: 1px solid red; */
   width: 165px;
   padding-left: 85px;
   padding-top: 85px;
   



}

.mephoto{

    width: 165px;

}

.main h3{

    font-size: 18px;
    line-height: 1.5;
}

.main h4{
    font-size: 16px;
    line-height: 1.6;
}

.main span{
    display: block;
    width: 165px;
    margin-top: 5px;
    border-bottom: 0.3px solid black;
    margin-bottom: 50px;
}

.main ul{}

.main ul img{
width: 45px;
margin-left: 6px;
margin-bottom: 6px;

}

/* -------------text---------------- */

.text01{
   
    /* border: 1px solid red; */
    width: 865px;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 65px;
    display: block;
   
}

.text01 ul{
 
   overflow: hidden;
}

.text01 h1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}


.text01 li{

    width: 200px;
    height: 80px;
    float: left;
    margin-left: 30px;
   margin-top: 10px;
    
  
   
}

.text01 p{

    padding-left: 30px;
    line-height: 1.6;
    margin-top: 10px;
    
   
}


/* ------------foot----------------- */

.foot ul{
    background-color:white;
    height: 80px;
}

.foot p{
    font-size: 10px;
    padding-top: 38px;
    text-align: center;
    margin: 0 auto;
}