@import url('reset.css');

body{
    background-color: #e1e1e1;
    font-family: Arial, Helvetica, sans-serif;
    text-height: 1.6;
}

.header{
    width: 100%;
    height: 100px;
    background-color:white;
    z-index: 30;
}

.header .fa{
    display: none;
  }
  
  input {
    display: none;
  }

.header img{

    width: 68px;
    margin-left: 25px;
    padding-top: 15px;
}

.header ul{

    /* border: 1px solid red; */
    float: right;
  

}

.header li{

    float: left;
    /* padding-right: 30px; */
}

.header li a{
    display: block;
    font-size: 24px;
    color: #4a4a4a;
   width: 150px;
    text-decoration: none;
    line-height: 4;
    text-align: center;
    /* border: 1px solid red; */
    
    
}

.header li a:hover{

border-bottom: 4px solid #8b8b8b;
}

/* --------------------wrapper--------------------- */

.wrapper {
    /* border: 1px solid red; */
    padding-top: 20px;

    width: 1200px;
    margin: 0 auto;
}

/* ---------main------------- */

.wrapper .main {
    position: relative;
}

.wrapper .main img{
    display: block;
   

}
.wrapper .main h1{

    font-size: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

  position: absolute;
  left: 152px;
  right: 0;
  top: 245px;
  bottom: 0;
  margin: auto;
    color: white;
}


/* ------------text------------- */

.text{

    background-color: white;
    height: 600px;


}


.topline{
    display: block;
    padding-top: 50px;
    width: 1160px;
   margin: 0 auto;
    
    border-bottom: 0.5px solid black;
}


.bottomline{
    display: block;
    width: 1160px;
    padding-top: 172px;
    margin: 0 auto;
    
    border-bottom: 0.5px solid black;
}
.text h3{
  margin-top:95px;
  margin-left: 110px;
  font-size: 1.5em;
  line-height: 1.6;

}


/* ---------draft------------- */


.draft{
    background-color: #bababa;
    height: 600px;
    position: relative;
   
}

.draft li{
    float: left;
    margin-top:50px ;
    margin-left: 50px;
}
.draft img{

  width: 330px;

}

.draft p{
    font-size: 24px;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 530px;
}





/* ----------completed-------------- */

.Completed{
    background-image: url(../pic/bgi01.jpg);
    width: 100%;
    height: 600px;
}

.Completed li{

float: left;
margin-top: 50px;
margin-left: 75px;


}


.Completed img{

    width: 300px;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, .3);
}


/* ------------foot----------------- */

.foot ul{
    margin-top: 20px;
    background-color:white;
    height: 80px;
}

.foot p{
    font-size: 10px;
    padding-top: 38px;
    text-align: center;
    margin: 0 auto;
}


/* --------------斷點430--------------- */

@media screen and (max-width: 430px) {

    .header{
        margin: 0 auto;
        height: 80px;
        position: relative;
      
    }

     .header .fa{
    display: block;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
  }


.header .menu{

   
    float: none;
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
    background-color:rgba(148, 148, 148, 0.493);
  
 
}

input:checked ~ .menu {
    
    max-height: 300px;
   
  }





    .header a img{
        width: 50px;
    }

    .header li {
        width: 100%; /* 確保li區塊能夠全寬顯示 */
        padding-left: 0;
        text-align: center; /* 使內容居中 */
     
    }

    .header li a {
        width: 100%; /* 讓連結寬度擴展到整個li */
       
            display: block;
            font-size: 16px;
            color: #ffffff;

            text-decoration: none;
            line-height: 4;
            text-align: center;
            /* border: 1px solid red; */
            
            
      
    }


  




    /* -----------------main--------------------- */


.wrapper{

    width: 100%;
    overflow: hidden;

}

.wrapper .main h1{

    font-size: 35px;
    left: 80px;
    top: 83px;
}

.main img{
    width: 100%;
}


/* --------text-------- */

.topline{

    width: 385px;
}

.text {

width: 100%;
padding-top: 50px;




}

.text h3{

    font-size: 18px;
    margin: 30px 25px 30px 25px ;
}

.bottomline{


    padding-top: 0;

    width: 385px;
}



/* ---------draft------------- */

.draft{

    height: 1600px;
}

.draft li img {

    width: 85%;
}

.draft li{

      margin-top: 61px;
    margin-left: 53px;
  
}

.draft p{
    top: 11px;
    left: 158px;

}


.Completed{

height: 1800px;


}

.Completed li{
    margin-bottom: 118px;
    margin-left: 66px;
}

}











/* ---------------斷點390--------------------------- */

@media screen and (max-width: 390px) {



 
    .header a img{
        width: 50px;
    }

    .draft{
        height: 1500px;
        
    }
    
    
        .draft li img{
    
    
            width: 88%;
    
        }
    
        .draft p{
            font-size: 20px;
            left: 147px;
            top: 13px;
        
        }
    
    
    
    
        /* --------text-------- */
    
    .topline{
    
        padding-top: 0;
        width: 330px;
    }
    
    .text {
    
    width: 100%;
    padding-top: 50px;
    height: 415px;
    
    
    
    
    }
    
    .text h3{
    
        font-size: 14px;
        margin: 30px 25px 30px 25px ;
    }
    
    .bottomline{
    
    
        padding-top: 0;
    
        width: 330px;
    }
    
    
    
    
    .Completed li {
       
        margin-left: 48px;
    }




}