@import url('reset.css');

body{
    background-color: #e1e1e1;
    font-family: Arial, Helvetica, sans-serif;
    text-height: 1.6;
}

.header{
    width: 100%;
    height: 100px;
    background-color:white;
}


.header .fa{
    display: none;
  }
  
  input {
    display: none;
  }

  
.header img{

    width: 68px;
    margin-left: 25px;
    padding-top: 15px;
    
}

.header ul{

    /* border: 1px solid red; */
    float: right;
    
  

}

.header li{

    float: left;
    /* padding-right: 30px; */
}

.header li a{
    display: block;
    font-size: 24px;
    color: #4a4a4a;
   width: 150px;
    text-decoration: none;
    line-height: 4;
    text-align: center;
    /* border: 1px solid red; */
    
    
}

.header li a:hover{

border-bottom: 4px solid #8b8b8b;
}


.wrapper{

width: 1200px;
margin: 0 auto;
padding-top: 20px;

}

.main{

}

.main img{

    width: 100%;
    display: block;
}

.main ul{

height: 600px;
background-color: #ffcd45;


}

.main li{

height: 300px;

overflow: hidden;
position: relative;
top: 145px;


}

.main .icon{

width: 1200px;
position: absolute;
top: -155px;

}


/* --------------text------------- */

.text{

    background-color: #e1e1e1;
    height: 600px;


}


.topline{
    display: block;
    padding-top: 50px;
    width: 1160px;
   margin: 0 auto;
    
    border-bottom: 0.5px solid black;
}


.bottomline{
    display: block;
    width: 1160px;
    padding-top: 45px;
    margin: 0 auto;
    
    border-bottom: 0.5px solid black;
}

.chinese{

line-height: 1.6;


padding-left: 250px;
padding-top: 50px;


}

.english{
    padding-top: 20px;
    line-height: 1.6;
padding-left: 250px;

    
}









/* ------------main02----------------- */
.main02{
height: 800px;
overflow: hidden;
background-color: white;

}

.main02 ul{

    margin-top: 80px;
    position: relative;
}

.main02 li{
    width: 600px;
 }

.pic01{
    position: absolute;
    width: 600px;
    height: 600px;
   
    overflow: hidden;
}

.pic01 img{

    height: 100%;
    position: relative;
    left: -109px;
    top: 0;

}
.pic02{
    width: 600px;
    height: 300px;
    position: absolute;
    right: 0;
    top: 0;
    
    overflow: hidden;
}
.pic02 img{
    width: 100%;
    position: absolute;
    top: -65px;

}

.pic03{
    width: 600px;
    height: 300px;
    position: absolute;
    right: 0;
    top: 299px;
   
    overflow: hidden;
}
.pic03 img{
    width: 600px;
    position: absolute;
    top:-70px;
   
}


/* --------------main03------------------ */
.main03 img{
    display: block;
    width: 100%;
}

/* -----------main04----------- */

.main04{
    display: block;
    height: 300px;
    background-color: white;
    margin-bottom: 20px;
}   

.main04 h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    line-height: 300px;
   
}






















/* ------------foot----------------- */

.foot ul{
    background-color:white;
    height: 80px;
    margin-top: 20px;
   
}

.foot p{
    font-size: 10px;
    padding-top: 38px;
    text-align: center;
    margin: 0 auto;
}

/* --------------斷點430--------------- */

@media screen and (max-width: 430px) {

    .header{
        margin: 0 auto;
        height: 80px;
        position: relative;
      
    }

     .header .fa{
    display: block;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
  }


.header .menu{

   
    float: none;
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
    background-color:rgba(148, 148, 148, 0.493);
  
 
}

input:checked ~ .menu {
    
    max-height: 300px;
   
  }





    .header a img{
        width: 50px;
    }

    .header li {
        width: 100%; /* 確保li區塊能夠全寬顯示 */
        padding-left: 0;
        text-align: center; /* 使內容居中 */
     
    }

    .header li a {
        width: 100%; /* 讓連結寬度擴展到整個li */
       
            display: block;
            font-size: 16px;
            color: #ffffff;

            text-decoration: none;
            line-height: 4;
            text-align: center;
            /* border: 1px solid red; */
            
            
      
    }


    .wrapper {
        width: 100%;
    }

    .main ul{
        height: 480px;
    }

    .main .icon {
        width: 432px;
        position: absolute;
        top: -22px;
    }


    /* -----------text---------------- */

    .text{
        height: 950px;
    }

    .topline{
        width: 380px;
    }

    .chinese {
        line-height: 1.6;
        padding:50px 20px 50px 20px;
       
    }

    .english{

        padding: 0 20px 50px 20px;
    }

    .bottomline{
        padding-top: 0;
        width: 380px;
        
    }


    /* ----------------main02------------------- */

    .main02 {
        height: 1119px;
     
    }


    .pic01{
        position: absolute;
        width: 390px;
        height:390px;
       
        overflow: hidden;
    }

    .pic01 img {
        height: 100%;
        position: relative;
        left: -57px;
        top: -30px;
    }

    .pic02 {
        width: 600px;
        height: 301px;
        position: absolute;
        right: 0;
        top: 438px;
        overflow: hidden;
    }

    .pic02 img {
        width: 80%;
        position: absolute;
        top: -24px;
        left: 154px;
    }

    .pic03{
        top: 738px;
    }
    .pic03 img {
        width: 80%;
        position: absolute;
        left: 150px;
        top: -28px;
    }
}

/* ---------------斷點390--------------------------- */

@media screen and (max-width: 390px) {


    .main .icon {
        width: 396px;
     
    }

    .topline{
        width: 350px;
    }

    .chinese{
        font-size: 14px;
    }

    .english{
        font-style: 14px;
    }


    .bottomline{
        padding-top: 0;
        width: 350px;
        
    }








}